.app {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #f1f1f1;
    display: grid;
    grid-template-areas: 
    "encabezado"
    "contenido"
    "navegaciones"
    "rodapie";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;
}

main, article{
    margin: 0 1.25% 0 1.25%;
}

.icons{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

a{
    text-decoration: none;
}

main h2{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.384);
    padding: 0.5% 0 0.5% 0;
}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.encab-enlaces{
    padding-bottom: 1px;
    transition: 0.2s;
}

@media (hover: hover) {
    .encab-enlaces:hover {
    border-bottom: 2px solid rgb(0, 60, 255);
    }
}

.contenido {
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 33.33%);
}

.fornite{
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    background-image: url(../img/fortnite.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.subtitulos{
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.subti-text{
    width: 100%;
    padding-bottom: 2%;
    text-align: center;
}

.enlaces{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / span 2;
    background-color: #ffffff;
}

.enlaces-text{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 10%;
}


.subt-img{
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.subt-img h2{
    margin-top: 58%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#pubg{
    background-image: url(../img/pubg.jpg);
}

#slack{
    background-image: url(../img/slack.png);
}

#csgo{
    background-image: url(../img/cs-go.jpg);
}

#whatsapp{
    background-image: url(../img/whatsapp.png);
}

.navegaciones{
    grid-area: "navegaciones";
    margin-top: 2.5%;
    grid-template-rows: repeat(4, 20%);
}


.article-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
    border-bottom: 2px dashed #00000035;
}

.article-header-links{
    display: flex;
    align-items: center;
}

.article-header-icons{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.article-main{
    display: grid;
    grid-template-columns: repeat(5, 19%);
    height: 75vh;
    gap: 1%;
    margin: 2% 0 2% 0 ;
}

.article-main-portadas{
    width: 100%;
    height: 40%;
}

.article-main-text{
    margin: 0 3%;
}

.article-main-text-header{
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 150%;
    font-weight: 700;
}

.article-main-text-fecha{
    font-size: 85%;
    color: #949393c0;
}

.article-main-text-parrafo{
    margin-top: 15%;
    line-height: 150%;
    word-spacing: 0.2em;
}

.article-main-columnas{
    background-color: #ffffff;
}

.destaque .article-main-csgo{
    order: 3;
}



.rodapie {
    grid-area: rodapie;
    padding: 1% 0 1% 0;
    text-align: center;
    color: #00000075;
    font-weight: 400;
    background-color: #ffffff;
}

